/* ==============================
   ESTILOS GENERALES
============================== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* ==============================
   LOGO + HEADER
============================== */
.logo-img {
    height: 150px;
    object-fit: contain;
}

.header {
    background:#160d4b;
;
    padding: 15px;
    border-bottom: 1px solid #757575;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* ==============================
   BUSCADOR
============================== */
.buscador {
    display: flex;
    width: 50%;
}

.buscador input {
    flex: 1;
    padding: 10px;
    border: 1px solid #616161;
    background-color: white;
    border-radius: 20px 0 0 20px;
    color: black;
}

.buscador button {
    padding: 10px 15px;
    border-radius: 0 20px 20px 0;
    background: #6b6b6b;
    color: black;
    border: none;
}

.buscador input::placeholder {
    color: black;
}

/* ==============================
   CARRITIO
============================== */
/* CARRITO BOTÓN */
.carrito {
  position: relative;
  font-size: 24px;
  background: white;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.3s;
}

.carrito:hover {
  transform: scale(1.1);
}

/* CONTADOR ROJO */
#contador {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
}

/* PANEL DEL CARRITO */
.carrito-panel {
  position: fixed;
  right: 20px;
  top: 80px;
  width: 300px;
  background: white;
  border-radius: 15px;
  padding: 15px;
  display: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: aparecer 0.3s ease;
  z-index: 1000;
}

.carrito-panel.active {
  display: block;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LISTA */
.carrito-panel ul {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.carrito-panel li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}

/* BOTÓN ELIMINAR */
.eliminar {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

/* FOOTER */
.carrito-footer {
  margin-top: 10px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-weight: bold;
  text-align: right;
}

.carrito-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cerrar-carrito {
  cursor: pointer;
  font-size: 18px;
  color: red;
  font-weight: bold;
}


/* ==============================
   LAYOUT PRINCIPAL
============================== */
.layout {
    display: flex;
}

/* BOTÓN MENÚ */
.menu-btn {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

/* ==============================
   SIDEBAR
============================== */
.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 200px;
    height: 100vh;
    background: #1e1e2f;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-cerrar {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a,
.submenu-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover,
.submenu-btn:hover {
    background: #2c7a4d;
}

/* SUBMENU */
.submenu-items {
    display: none;
    padding-left: 20px;
}

.submenu.active .submenu-items {
    display: block;
}

/* OVERLAY */
#overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

#overlay.active {
    display: block;
}

/* ==============================
   PRODUCTOS
============================== */
.contenido {
    flex: 1;
    padding: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
}

.card img {
    width: 100%;
}

.precio {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.btn {
    padding: 10px;
    background: orange;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

/* ==============================
        LOGIN 
============================== */
body.login {
    background: #ffffff;
}

/* CONTENEDOR */
.container {
    width: 100%;
    height: 100vh;
    background: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORMULARIO */
.form-content {
    max-width: 450px;
    background: #160d4b;
    padding: 50px;
    border-radius: 20px;
    width: 100%;
}

/* TITULO */
.form-content h1 {
    color: rgb(255, 254, 254);
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.8rem;
    font-weight: normal;
}

/* INPUTS */
.input-field {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 0;
}

.input-field i {
    color: #606161;
}

.input-field input {
    flex: 1;
    padding: 15px;
    border: none;
    background: transparent;
    color: rgb(0, 0, 0);
}

.input-field input::placeholder {
    color: rgb(0, 0, 0);
}

/* BOTONES */
.btn-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#signUp {
    background: #373e76;
    color: white;
}

#signIn {
    background: #373e76;
    color: white;
}

#ingresar {
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

button.disable {
    opacity: 0.5;
}

/* MENSAJE */
.mensaje {
    color: #ff4d4d;
    font-size: 14px;
    text-align: center;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* FOOTER */
.footer {
  background: #222;
  color: white;
  margin-top: auto;
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
}

.footer-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.footer-logo img {
  width: 80px;
  height: auto;
  margin-bottom: 5px;
}

.footer-logo h3 {
  margin: 5px 0;
}

.footer-info p,
.footer-integrantes p {
  margin: 5px 0;
}

.footer-integrantes h4 {
  margin-bottom: 5px;
}

.footer-copy {
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 15px;
  font-size: 14px;
}