<footer id="contacto" class="footer">
  <div class="footer-contenedor">

    <div class="footer-logo">
      <img src="imagenes/logo.png" alt="Logo Micromercado Koki">
      <h3>Micromercado Koki</h3>
    </div>

    <div class="footer-info">
      <p><i class="fa-solid fa-phone"></i> 300 123 4567</p>
      <p><i class="fa-solid fa-envelope"></i> micromercadokoki@gmail.com</p>
      <p><i class="fa-solid fa-location-dot"></i> Ocaña, Norte de Santander</p>
    </div>

    <div class="footer-integrantes">
      <h4>Integrantes</h4>
      <p>Jorge Arciniegas(192673)</p>
      <p>Shairek Barbosa(192678)</p>
      <p>Juan Jaime(192609)</p>
    </div>

  </div>

  <p class="footer-copy">© 2026 Micromercado Koki. Todos los derechos reservados.</p>
</footer>