<header class="header">
  <div class="header-top">

    <!-- BOTÓN MENÚ -->
    <button id="btn-menu" class="menu-btn">
      <i class="fas fa-bars"></i>
    </button>

    <img src="imagenes/Logo.png" alt="Micromercado Koki" class="logo-img">

    <div class="buscador">
      <input type="text" placeholder="Busca en nuestro catálogo">
      <button><i class="fas fa-search"></i></button>
    </div>

    <!-- CARRITO -->
    <div class="carrito" id="carrito-btn">
      <i class="fas fa-shopping-cart"></i>
      <span id="contador">0</span>
    </div>

    <!-- PANEL DEL CARRITO -->
    <div id="carrito-panel" class="carrito-panel">

      <div class="carrito-header">
        <h3>🛒 Tu carrito</h3>
        <span id="cerrar-carrito">✖</span>
      </div>

      <ul id="lista-carrito"></ul>

      <div class="carrito-footer">
        <p id="total-carrito">Total: $0</p>
      </div>

    </div>

  </div>
</header>